@import '../stylesheets/main.scss';

h1, h2, h3, h4, h5, h6, p, a, code, pre, ol, ul, li {
    line-height: 1.5;
}

@media screen and (max-width: $small-device) {
    a, p, td, th, tr, code, pre, ol, ul, li, div  {
        font-size: $extra-small-font-size;
    }
    h1 {
        font-size: $large-font-size;
        line-height: 1.2;
        padding: 1.5vh 0;
        font-weight: 600;
        &.title {
            font-weight: 400;
            letter-spacing: 0px;
            font-size: $extra-large-font-size;
        }
    }
    h2 {
        line-height: 1.2;
        padding: 1.5vh 0;
        font-weight: 600;
        font-size: $medium-font-size;
    }
    h3 {
        font-weight: 600;
        line-height: 1.2;
        padding: 1.5vh 0;
        font-size: $small-medium-font-size;
    }
}


@media screen and (min-width: $small-device) {
    .container {
        padding-right: calc(6.5vw - (100vw - 100%));
        padding-left: 6.5vw;
    }
    a, p, td, th, tr, code, pre, ol, ul, li, div  {
        font-size: $small-font-size;
    }
    h1 {
        font-size: $large-font-size;
        line-height: 1.2;
        padding: 2vh 0;
        font-weight: 600;

        &.title {
            padding: 0 0 1vh;
            font-weight: 400;
            letter-spacing: 0px;
            font-size: $extra-large-font-size;
        }
    }
    h2 {
        line-height: 1.2;
        padding: 2vh 0;
        font-weight: 600;
        font-size: $medium-font-size;
    }
    h3 {
        font-weight: 600;
        line-height: 1.2;
        padding: 2vh 0;
        font-size: $small-medium-font-size;
    }
}

@media screen and (min-width: $medium-device) {
    .container {
        padding-right: calc(12vw - (100vw - 100%));
        padding-left: 12vw;
    }
    a, p, td, th, tr, code, pre, ol, ul, li, div  {
        font-size: $small-medium-font-size;
    }

    h1 {
        font-size: $large-font-size;
        line-height: 1.2;
        padding: 1vh 0;

        &.title {
            padding: 0 0 1vh;
            font-size: $extra-large-font-size;
        }
    }
    h2 {
        padding: 1vh 0;
        font-size: $medium-font-size;
    }
    h3 {
        padding: 1vh 0;
        font-size: $small-medium-font-size;
    }
}

@media screen and (min-width: $large-device) {
    .container {
        padding-right: calc(15vw - (100vw - 100%));
        padding-left: 15vw;
    }
    a, p, td, th, tr, code, pre, ol, ul, li, div {
        font-size: $medium-font-size;
    }

    h1 {
        font-size: $extra-large-font-size;
        line-height: 1.2;
        padding: 1vh 0;

        &.title {
            padding: 0 0 1vh;
            font-size: $extra-extra-large-font-size;
        }
    }
    h2 {
        padding: 1vh 0;
        font-size: $large-medium-font-size;
    }
    h3 {
        padding: 1vh 0;
        font-size: $medium-font-size;
    }
}

@media screen and (min-width: $extra-large-device) {
    .container {
        padding-right: calc(18vw - (100vw - 100%));
        padding-left: 18vw;
    }
    a, p, td, th, tr, code, pre, ol, ul, li, div  {
        font-size: $large-medium-font-size;
    }

    h1 {
        font-size: $extra-extra-large-font-size;
        line-height: 1.2;
        padding: 1.75vh 0;

        &.title {
            padding: 0 0 1vh;
            font-size: $super-large-font-size;
        }
    }
    h2 {
        padding: 1.5vh 0;
        font-size: $extra-large-medium-font-size;
    }
    h3 {
        padding: 1.5vh 0;
        font-size: $large-medium-font-size;
    }
}

@media screen and (min-width: $extra-extra-large-device) {
    .container {
        padding-right: calc(22vw - (100vw - 100%));
        padding-left: 22vw;
    }
    a, p, td, th, tr, code, pre, ol, ul, li, div  {
        font-size: $large-medium-font-size;
    }

    h1 {
        font-size: $extra-extra-large-font-size;
        line-height: 1.2;
        padding: 1.75vh 0;

        &.title {
            padding: 0 0 1vh;
            font-size: $super-large-font-size;
        }
    }
    h2 {
        padding: 1.5vh 0;
        font-size: $large-font-size;
    }
    h3 {
        padding: 1.5vh 0;
        font-size: $medium-font-size;
    }
}


@media screen and (min-width: $super-large-device) {
    .container {
        padding-right: calc(24vw - (100vw - 100%));
        padding-left: 24vw;
    }

    a, p, td, th, tr, code, pre, ol, ul, li, div  {
        font-size: $extra-large-medium-font-size;
    }

    h1 {
        font-size: $extra-extra-large-font-size;
        line-height: 1.2;
        padding: 1.75vh 0;

        &.title {
            padding: 0 0 1vh;
            font-size: $super-large-font-size;
        }
    }
    h2 {
        padding: 1.5vh 0;
        font-size: $large-font-size;
    }
    h3 {
        padding: 1.5vh 0;
        font-size: $large-medium-font-size;
    }
}

@media screen and (min-width: $super-super-large-device) {
    .container {
        padding-right: calc(32vw - (100vw - 100%));
        padding-left: 28vw;
    }
}

// ====================================== Footer 
footer {
    p {
        font-family: $default-serif;
    }
}

/* ======================== Blog ===================== */
div.container.blog#first-content {
    div.blog-title {
        .blog-intro {
            p.author {
                padding: 4px 0 10px;
                font-family: $default-sans;
                font-style: italic;
                font-weight: 400;
                line-height: 1.2;
                font-size: 85%;

                a {
                    transition: color 0.2s ease;

                    &:hover {
                        color: #dbe3db;
                    }
                }
            }
        
            p.abstract {
                font-family: $default-sans;
                font-weight: 300;
                padding: 1vh 0;
                font-size: 85%;
                line-height: 1.6;
            }
        
            .info {
                p {
                    text-transform: uppercase;
                    color: $black;
                    font-weight: 500;
                    font-size: 85%;
                }
            }
        }
    }
}

div.container.blog {
    p.text{
            padding: 1.5vh 0;
            font-family: $default-serif, sans-serif;
    }

    p.text:last-child {
        padding-bottom: 0;
    }

    ul, ol {
        li {
            p.text{
                padding: 0vh 0 1vh 0 !important; 
            }
        }
    }

    p.caption {
        padding: 1vh 0;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0px;
        font-size: 85%;

        b {
            font-weight: 600 !important;
        }
    }
}


/* ======================== Button ===================== */
input[type="submit"], input[type="reset"], input[type="button"],
button, .button {
    font-size: 0.65em;
    font-weight: 500;
}

/* ======================== Table ===================== */
table {
    th, td{
        b {
            font-weight: 500;
        }
    }
    thead{
        font-weight: 500;
    }
}

/* ======================== Selection ===================== */
select {
    padding:2px 2px;
}


/* ======================== Slider Display ===================== */
.before figcaption,
.after figcaption {
    font-size: 70%;
}

iframe, video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.teaser_video {
    width: 70%;
    aspect-ratio: 16 / 9;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.video-intro {
    display: block;
    width: 70%;
    margin: 0 auto;
    text-align: right;
    font-style: italic;
    font-size: 1em;
    padding-bottom: 0.5vh;
}

/* Two-column figure layout */
.two-column-figure {
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 3vw;
    align-items: start;

    .text-column {
        h2 {
            margin-top: 0;
        }
    }

    .figure-column {
        img {
            width: 100%;
        }
    }
}

/* Stack vertically on mobile */
@media screen and (max-width: 768px) {
    .two-column-figure {
        grid-template-columns: 1fr;
        gap: 2vh;
    }
}

/* Two equal-width columns for code sections */
.two-column-equal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3vw;
    align-items: start;

    .text-column {
        min-width: 0;

        h1, h2 {
            margin-top: 0;
        }

        pre {
            overflow-x: auto;
            max-width: 100%;
        }

        code {
            white-space: pre;
            word-wrap: normal;
        }
    }
}

/* Stack vertically on mobile */
@media screen and (max-width: 768px) {
    .two-column-equal {
        grid-template-columns: 1fr;
        gap: 2vh;
    }
}

/* Two equal-width columns for images */
.columns-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;

    img {
        width: 100%;
        height: auto;
    }
}